{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            <h1 class="display-4">About us</h1>
            <p class="font-italic text-muted mb-4">The "pet protected" project aims to create a situation in which the
                residents of Israel distribute among themselves all the objects, related to animals, which they
                do
                not need, but are still valuable and it is a pity to throw them away. But to this day we have
                not
                had access to it.
                The project is a social business that sustains itself financially, and is also assisted by
                financial
                support of the good will of its users.
                As part of the course, we were given the tools to set up such a venture, as well as make a
                website
                accessible to all.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="media/pet-care.png" alt="" class="img-fluid"></div>
    </div>
</div>

